
/* login.css */

#createwrap {
    
    height: auto;
    
}

#createcont1 {
    height: 100vh;
    display: flex;
    align-items: center;
    
}   

#createcont2 {
    height: 100vh;
    display: flex;
    align-items: center;
}


.createaccountcont {
    margin: 0 auto;
    
}


#createform {
    height: auto;
}