
/* login.css */

#createwrap {
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

#createcont1 {
    margin: 0 auto;
    opacity: 0;
    width: 90%;
}   

#createcont2 {
    margin: 0 auto;
    
    display: none;
    width: 90%;
}

.createaccountcont {
    margin: 0 auto;
    
}


#createform {
    height: auto;
}