
#loginwrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.loginwrap2 {
    width: 100%;
    height: 100%;
    max-width: 357px;
    max-height: 667px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    
    background: white;
}

#logincont {
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
    
}

#logincont2 {
    width: 100%;
    box-sizing: border-box;
}

.thetitle {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    
}

#logininfo {

height: auto;

}

.info  {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    height: 30px;
    margin-bottom: 20px;
    width: 100%;
    border: solid 1px var(--color2);
    border-radius: 5px;
}

.buttoncont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background: var(--color2);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    user-select: none;
    
    margin-bottom: 20px;
}

.button:hover {
    cursor: pointer;
}


.button p {
    margin: 0;
    padding: 0;
    color: white;
}

#createcont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#loginaccount {
    height: auto;
    margin-bottom: 20px;
    color: var(--color3)
}

#loginbutton {
    transform: scale(1);
}

#wrong {
    text-align: center;
    padding: 0;
    margin: 0;
    color: var(--color2);
    visibility: hidden;
}

