#theappcont {

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative
}

#theapp {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 357px;
    max-height: 667px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    background: white;
    opacity: 0;
}

#logoutbutton {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 20;
}

#logoutbutton p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 0.9rem;
}

#theappstart {
    background: var(--color2);
    position: relative;
}

#backgroundpic {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    opacity: 0.2;
    z-index: 1;
}

#theappbox {
    height: 120px;
    position: relative;
}

#theapptext {
    position: relative;
    height: auto;
    z-index: 10;
}

#theappdate {
    margin: 0;
    padding-left: 10px;
    color: white;
    font-size: 1rem;
}

#theappuser {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    font-size: 1.3rem;
}

#addpost {
    text-align: center;
    background: var(--color3);
    cursor: pointer;
    user-select: none;
}

#addpost p {
    margin: 0;
    padding: 20px;
    color: white;
    font-size: 1.1rem;
}

#posts {
    height: auto;
}

.post {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.note {
    display: flex;
    align-items: center;
    height: 100%;
}

.note img {
    width: 22px;
    padding-top: 3px;
}

.posttext {
    margin-left: 20px;
}

.posttext {
    width: calc(100% - 60px);
}

.postinput {
    border: none;
    width: calc(100% - 60px);
    padding: 5px;
    box-sizing: border-box;
}

.posttext p {
    margin: 0;
    padding: 0;
}

.deletebutton {
    
    position: absolute;
    right: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.minus {
    height: 7px;
    width: 25px;
    background: var(--color2);
}



