html {

  margin: 0;
  padding: 0;

}

body {

  margin: 0;
  padding: 0;

  background: #eeeeee;

  --color1: #231f20;
  --color2: #d35a4f;
  --color3: #63aba7;
  
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;

}

h1 {
  font-size: 2.4rem;
  font-family: 'Mansalva', cursive;
  color: var(--color1);
}

p {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: var(--color1);
}

